@use "./variables" as *;

@mixin displayFlex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flex($gap: 20px) {
  display: flex;
  justify-content: space-between;
  gap: $gap;
}

@mixin header {
  position: relative;
  margin: 0;
  padding-bottom: 14px;

  font-size: clamp(30px, 2vw, 45px);
  font-weight: 800;
  line-height: 0.9;
  text-align: left;
}

@mixin headerAfter($left: 0, $width: 80px) {
  position: absolute;
  bottom: 0;
  left: $left;
  width: $width;
  height: 6px;
  border-radius: 999px;
  content: "";
  background: #2c6fff;
}

@mixin container {
  width: 95%;
  margin: 0 auto;
}

@mixin description {
  color: $text-colour-darker;
  padding: 40px 0;
  text-align: left;
  width: 55%;
}

@mixin border {
  border: 1px solid #202c40;
}
