@mixin displayFlex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flex {
  display: flex;
  justify-content: space-between;
}

@mixin header {
  position: relative;
  margin: 0;
  padding-bottom: 14px;

  font-size: clamp(48px, 2vw, 72px);
  font-weight: 800;
  line-height: 0.9;
  text-align: center;
}

@mixin headerAfter($left: 406px) {
  position: absolute;
  bottom: 0;
  left: $left;
  width: 80px;
  height: 6px;
  border-radius: 999px;
  content: "";
  background: #2c6fff;
}

@mixin container {
  width: 95%;
  margin: 0 auto;
}
