@use "../../styles/abstracts/mixins" as *;
@use "../../styles/abstracts/variables" as *;

.container {
  padding: 150px 0;

  @include container;

  .header {
    @include header;
  }

  .header::after {
    @include headerAfter(458px);
  }

  .description {
    color: $text-colour-darker;
    padding: 50px 0;
    text-align: center;
  }

  .skills {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;

    .gridWrapper {
      border: 1px solid #202c40;
      padding: 20px;
      border-radius: 10px;

      .skillHeader {
        font-size: 18px;
        font-weight: 700;
        line-height: 1.2;
        padding-bottom: 20px;

        span:first-child {
          margin-right: 10px;
          padding: 8px 10px;
          border-radius: 10px;
          background: #071a3a;
          color: #2c6fff;
        }

        .icons {
          vertical-align: middle;
        }
      }

      .skillBody {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        gap: 10px;

        .tags {
          border: 1px solid #202c40;
          padding: 10px;
          border-radius: 20px;
          font-size: 14px;
          font-weight: 500;
          line-height: 1;
        }
      }
    }
  }
}
