@use "../../styles/abstracts/variables" as *;
@use "../../styles/abstracts/mixins" as *;

.container {
  background: $navBar-background-colour;
  width: 100%;
  font-size: 14px;

  padding: 18px 0;

  .navWrapper {
    @include displayFlex;
    margin: 0 auto;
    width: 80%;
    max-width: 1300px;

    .navList {
      @include displayFlex;
      list-style: none;

      .navLogo {
        font-size: 24px;
        color: $navbar-hover-colour-strong;
        font-weight: bold;
      }

      .navItem {
        cursor: pointer;

        &:not(:last-child):hover {
          color: $navbar-hover-colour;
          transition: all 0.3s ease-in-out;
        }
      }
    }

    .left {
      .navList {
      }
    }

    .right {
      .navList {
        width: 400px;

        .navResume {
          background: $navbar-hover-colour-strong;
          color: $navBar-background-colour;
          padding: 10px 13px;
          border-radius: 13px;
        }
      }
    }
  }
}
